* {
  box-sizing: border-box;
}

body {
  background-color: #003779;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


button {
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 15px;
}

select {
  width: 200px;
  padding: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #a7c5e3;
}

select:focus,
button:focus {
  outline: 0;
}

.settings-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

#header {
    position:absolute;
    display:flex;
    margin:initial!important;
    justify-content: center;
    align-items:center;
    top:0;
    margin:0;
    height:100px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}


.settings {
 position:absolute; 
  height: 80px;
  color: #fff;
  display: flex;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  width:100%;
  justify-content: center;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.settings.hide {
  transform: translateY(100%);
}

.container {
  padding: 20px;
  top:190px;
  border-radius: 4px;
  color: #fff;
  position: absolute;
  text-align: center;
  width: 500px;
}

h1 {
  margin: 0;
}

input {
  border: 0;
  position:relative;
  border-radius: 4px;
  font-size: 14px;
  width: 330px;
  top:440px;
  padding: 12px 20px;
  text-align:center;
}

.score-container {
    position:absolute;
    color:#fff;
    font-weight:bold;
    font-size:18px;
    top:20px;
    right:40px;
}

.time-container {
    position:absolute;
    color:#fff;
    font-size:18px;
    top:20px;
    font-weight:bold;
    left:35px;
}

#word {
    position:absolute;
    font-size:17px;
    color:#fff;
    top:110px;
    left:45px;
    width:80%;
    /* Disables selecting text and copying */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}


.end-game-container {
  background-color: inherit;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  position: absolute;
  top: 260px;
  left: 0;
  width: 100%;
  z-index:1;
}

.end-game-container h3 {
    margin-bottom:2px;
}


#screen {
    position:absolute;
    top:160px;
}

.screen {
    width:500px;
    height:450px;
    
}

.highlight {
    background-color:yellow;
}

@media only screen and (max-width: 600px) {
  .screen {
    width:100%;
    height:370px;
}

   input {
    top:380px;
  }

  #word{
    top:60px;
  }

.settings-btn {
    bottom:90px;
    left:10px;
}

.end-game-container {
  justify-content:center;
  top:335px;
}
}